@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231 65% 21%;

    --card: 0 0% 100%;
    --card-foreground: 231 65% 21%;

    --popover: 0 0% 100%;
    --popover-foreground: 231 65% 21%;

    --primary: 231 65% 21%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 54% 43%;
    --secondary-foreground: 0 0% 100%;

    --muted: 40 21% 90%;
    --muted-foreground: 231 65% 21%;

    --accent: 210 54% 43%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 40 21% 85%;
    --input: 40 21% 85%;
    --ring: 210 54% 43%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
